
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@book.image.profile_size.url) %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @book.owner %>
</p>

<p>
  <strong>Phone No:</strong>
  <%= @book.phone_no %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
